{
    "presets": [
        ["@babel/env", { "targets": { "chrome": "27" } }]
    ],
    "plugins": [
        "@babel/transform-strict-mode", 
        ["@babel/plugin-transform-for-of", { "loose": true }]
    ]
}
