@import "../../ui/css/_variables.less";
@import "../../ui/css/_common.less";
.theme(common);

.core-throbber-veil {
    .unselectable;
    position: absolute;
    z-index: 999999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.core-throbber-image {
    background-image: url('./throbber.png');
    background-size: 75%;
    background-position: center 20%;
    background-repeat: no-repeat;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.core-throbber-animation {
    // Based on: http://projects.lukehaas.me/css-loaders/
    animation: core-throbber-keys 1.5s infinite linear;
    border-radius: 50%;
    border: 8px solid transparent;
    transform: translate(-50%, -50%);
}

.core-throbber-message {
    margin-top: 16px;
    text-align: center;
    pointer-events: none;
}

.throbber(@theme) {
    .theme(@theme);

    .@{theme} {
        .core-throbber-veil {
            background-color: fadeout(darken(@bodyBackground, 40%), 50%);
        }

        .core-throbber-animation {
            border-left-color: fadeout(@rangeInputThumbBackground, 50%); // FIXME: add dedicated variable
        }

        .core-throbber-message {
            color: @rangeInputThumbBackground; // FIXME: add dedicated variable
        }
    }
}

.throbber(dark);
.throbber(medium-dark);
.throbber(light);
.throbber(medium-light);

@keyframes core-throbber-keys {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
